@page "/energyexports"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject UPQC_RemoteMonitoring.Data.ApplicationDbContext DB
@using UPQC_RemoteMonitoring.Models
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Index</PageTitle>

<h1>Energy Export History</h1>
<br />


<QuickGrid Class="table" Items="DB.EnergyExport">
    <PropertyColumn Property="energyexport => energyexport.EnergyExported" />
    <PropertyColumn Property="energyexport => energyexport.Date" />
</QuickGrid>
