@inherits LayoutComponentBase
@using Microsoft.FluentUI.AspNetCore.Components

<FluentLayout>
    <FluentHeader>
        Welcome, please login to continue
    </FluentHeader>
    
           <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center" Style="justify-content:center">
               <div class="body-content" style="width:auto" >
                    @Body       
               </div>
               
           </FluentStack>
               
           
       
</FluentLayout>
