@inherits LayoutComponentBase
@using Microsoft.FluentUI.AspNetCore.Components

<FluentLayout>
    <FluentHeader>
        Welcome, please login to continue
    </FluentHeader>
    
          <div class=" col-12" style="align-items:center">
              <br /><br />
              @Body
          </div>
           
       
</FluentLayout>
